.nav {
  position: fixed;           
  top: 0;
  left: 0;
  width: 99%;
  height: 50px;
  background-color: #1e1e1e;  
  border-bottom: 2px solid rgb(69, 64, 64);
  display: flex;
  align-items: center;
  padding-inline: 20px;
  z-index: 1000;              
}
  
.nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

.nav div {
  width: 100%;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-rechts {
  display: flex;
  align-items: center;
  justify-content: flex-end;      
  margin-right: 2vw;
}